.map-chart,
.graph-chart {
	width: 100%;
	@media @bs-lg {
		height: 700px;
		padding: 1rem 1rem !important;
	}
}
.gauge-chart,
.pie-chart,
.donut-chart,
.map-chart,
.graph-chart {
	padding: 1rem 0;
}
.pie-chart,
.donut-chart,
.gauge-chart {
	height: 250px;
}
@media @mobile-screen,
@mobile-lanscape-screen,
@tablet-portait-screen {
	.graph-chart,
	.map-chart {
		height: 600px;
	}
	.pie-chart {
		height: 400px;
	}
	#outbreakChart {
		height: 320px;
	}
}
