@import 'lib';
@import 'styles/buttons';
@import 'styles/forms';
@import 'styles/charts';

body,
html {
  height: 100%;
  margin: 0;
}
body {;
  font-family: @font-family, sans-serif;
  font-size: 15px;
}
a {
  outline: 0;
  color: @main-color;
}
.main-title {
	font-family: 'Bebas Neue', sans serif;
	font-size: 30px;
}
ng5-slider {
	.ng5-slider-pointer {
		outline: 0;
		background-color: @main-color !important;
		&:after {
			background: white !important;
		}
	}
	.ng5-slider-selection-bar {
		.ng5-slider-selection {
			background-color: @main-color !important;
		}
	}
	.ng5-slider-bubble {
		color: white !important;
	}
}
.grey-color {
	color: @grey-color;
}
.green-color {
	color: @green-color;
}
.dark-orange-color {
	color: @dark-orange-color;
}
.light-orange-color {
	color: @light-orange-color;
}
.yellow-color {
	color: @yellow-color;
}

// Bootstrap overwrite
.container, .container-fluid {
  padding: 0;
}

.form-group {
  margin-bottom: 7px;
}

.form-control {
  color: black;
}

.form-check {
  .form-check-input:checked ~ .form-check-label::before {
    background-color: @main-color !important;
  }
}
