@import './../../lib';

.search-form {
	.gender {
		button {
			border: none;
			background: none;
			font-size: 30px;
			opacity: .5;

			&.selected {
				opacity: 1;
			}
		}
	}
	.form-group {
		.icon-container {
			order: -1;
	    display: flex;
	    width: 40px;
	    align-items: center;
	    justify-content: center;
		}
	}
}
.chart-label {
	h2 {

	}
}
.charts {
	.col-lg-6 {
		@media @mobile-screen,
    @mobile-lanscape-screen,
    @tablet-portait-screen {
    	margin-bottom: 2rem !important;
    }
	}
	.label {
		font-size: 22px;
	}
	.cases {
		display: grid;
		align-items: center;
		.count {
			font-size: 50px;
    	font-weight: bold;
		}
		.sub-label {

		}
	}
	.gender-list {
    width: 90%;
    margin: 0 auto;
    @media @desktop-screen {
    	padding: 5rem 0;
    }
    .col {
    	@media @mobile-screen,
	    @mobile-lanscape-screen,
	    @tablet-portait-screen {
				flex:  0 0 25%;
				padding: 0;

				i {
					font-size: 2.5rem !important;
				}
			}
			&.male {
				i {
					color: #4385ff;
				}
			}
			&.female {
				i {
					color: #ffaac4;
				}
			}
			&.other {
				i {
					color: @grey-color
				}
			}
			i {
				font-size: 5rem;
			}
		}
	}
}
