@import './../../lib';

.search-form {
	.gender {
		button {
			border: none;
			background: none;
			font-size: 30px;

			&.selected {
				background: @main-color;
				color: white;
			}
		}
	}
	.form-group {
		.icon-container {
			order: -1;
	    display: flex;
	    width: 40px;
	    align-items: center;
	    justify-content: center;
		}
	}
}