<div class="container">
  <h1 class="text-center main-title">COVID-19 IN ONTARIO, CANADA</h1>

  <div class="search-form">
    <form>
     <div class="d-flex">
        <div class="form-group flex-grow-1 mr-1">
          <input type="text" class="form-control" placeholder="Your Current Location">
        </div>
        <div class="form-group w-25">
          <input type="text" class="form-control" value="25 km">
        </div>
     </div>
     <div class="d-flex">
        <div class="form-group flex-fill mr-1">
          <input type="text" class="form-control" placeholder="From">
        </div>
        <div class="form-group flex-fill">
          <input type="text" class="form-control" placeholder="To">
        </div>
     </div>
     <div class="collapse" [ngClass]="{'show': showAdvanceFilter}">
       <h1>collapse</h1>
     </div>
     <div class="d-flex">
       <button type="button" class="btn btn-primary btn-block" (click)="showAdvanceFilter = !showAdvanceFilter">Advance Filter</button>
     </div>
    </form>
  </div>
</div>